@font-face {
  font-family: "Thyssen J";
  src: url("./fonts/9THYSSEN.TTF");
}

html {
  font-family: "Franklin Gothic", sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Thyssen J";
}
